In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = pd.read_csv("bank_marketing.csv")

In [3]:
data.head()

,Unnamed: 0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0,41,services,married,unknown,no,88,yes,no,cellular,11,may,105,1,336,2,failure,no
1,1,56,technician,married,secondary,no,1938,no,yes,cellular,26,feb,229,1,192,4,success,yes
2,2,30,services,single,secondary,no,245,no,yes,cellular,8,jul,187,2,-1,0,unknown,no
3,3,34,management,single,tertiary,no,1396,yes,no,cellular,17,jul,630,1,-1,0,unknown,no
4,4,29,technician,single,secondary,no,-13,yes,no,cellular,14,may,512,3,-1,0,unknown,no

# Drop the 'Unnamed: 0' column

In [4]:
data = data.drop(columns=['Unnamed: 0'])

In [5]:
# Drop missing values
data = data.dropna()

# Drop duplicated values
data = data.drop_duplicates()

In [6]:
# Convert categorical variables into dummy variables
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
data = pd.get_dummies(data, columns=categorical_columns)

In [7]:
# Split the data into train (70%) and test (30%) with a random state of 0
X = data.drop(columns=['deposit'])  # Assuming 'deposit' is the name of your target variable
y = data['deposit']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [9]:
# Build a KNN model with k=7
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [10]:
# Make predictions on the test dataset
y_pred = knn.predict(X_test)

# Calculate the accuracy of the model on the test dataset
accuracy = accuracy_score(y_test, y_pred)

# Print the accuracy
print("Accuracy on the test dataset:", accuracy)

Accuracy on the test dataset: 0.7546268656716418